.baseContainer {
  overflow: scroll;
}
.page-content {
  height: 100%;
  width: 100%;
}
.product-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.sideNav {
  flex-grow: 3;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  width: 30%;
  min-width: 9rem;
  max-width: 20rem;
  background: var(--stdWhite-color);
  border: 1px solid black;
  padding: 0.5rem;
  top: 0;
}
.main-content {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
  max-height: 100%;
  overflow: scroll;
}
.sideNav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideNav-content {
  height: fit-content;
}
.slider {
  width: 100%;
}
.slider-values {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  flex-direction: column;
}
.sideNav-title {
  padding: 1rem 0;
}

.indi-product {
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}
.card-img-container {
  background: var(--primary-color);
}
.product-list {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
