
:root {
  line-height: 2rem;
  width: 100%;

}
.wishlistPg {
  width: 100%;
}

.wishlist-pg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card-img-container {
  background: var(--primary-color);
}

.wishlist-pg-title {
  padding: 2rem;
}

