.wishlistPg{
    width: 100%;
}
:root{
    line-height: 2rem;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: fit-content;
  }
  .wishlist-pg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-img-container{
    background: var(--primary-color);
  }
  
  .wishlist-pg-title{
    padding: 2rem;
  }

 