
:root {
  line-height: 2rem;
  width: 100%;

}
/* .page-content{
  flex-wrap: wrap;
  overflow: scroll;
} */
.wishlistPg {
  width: 100%;
}

.wishlistPg-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}
.wishlistPg-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-img-container {
  background: var(--primary-color);
}

.wishlist-pg-title {
  padding: 2rem;
}

