:root {
  line-height: 2rem;
}
.cartPg {
  width: 100%;
}
.cart-pg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cart-content{
  width: 75%;
}
.bill-content {
  background: var(--stdWhite-color);
  width: 30%;
  min-width: 25%;
  margin: 1rem;
  height: fit-content;
  padding: 2.5rem;
  border-radius: 0.3rem;
  align-self: baseline;
}
.indi-row {
  display: flex;
  justify-content: space-between;
}
.bill-btn {
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.1rem;
}
.card-pg-title {
  padding: 2rem;
}
.discount-btn{
  padding: 0.2rem 0.4rem;
  border-radius: 0.1rem;
 
}
.discount-input{
  border-radius: 0.2rem;
}
