.bottom-container-card{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    height: 80%;
    
}
.bottom-container-card img{
    max-width: 30%;
    background: var(--stdWhite-color);
    margin: 1rem;
}
.card-context{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bottom-container-card:hover{
  transform: scale(0.98);
}
 