.indi-product {
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}
.card-img-container {
  background: var(--primary-color);
  justify-content: center;
  height: 50%;
}
.card-img {
  max-height: 100%;
  overflow: auto;
}
