
.loginPg{
    width: 100%;
}

  .login-Modal{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .login-Modal .modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background:var(--stdWhite-color);
    height: 30rem;
    width: 30rem;
    left: 30%;
    right: 30%;
    
  }
  .modal-container .form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .modal-container .input-details{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-utils{
    display: flex;
    align-items: center;
  }
  .modal-container .modal-btn{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .modal-btn .btn-link{
    color: black;
    text-decoration: none;
  }
  .form-input .input-space{
    margin-bottom: 1rem;
  }
  .input-label{
      text-align: start;
  }